
.RootContainer{
   /* height: 40%; */
   padding: 20px;
   margin: 20px 0px;
   display: flex;
   flex-direction: column;
}

.Channels{
   margin: 16px 8px;
}

.ChannelListContainer{
   margin: 16px;
}

.Channel{
   width: 100%;
   padding: 8px 30px;
   cursor: pointer;
}

.Active{
   background-color: #424242;
}